In [2]:
import pandas as pd
import json
import os
import requests



os.getcwd()

'/Users/louise/Documents/ironhack/cities'

In [62]:
data = json.load(open('sao-paulo.json'))
sao_paulo = pd.DataFrame(data["categories"])


sao_paulo2 = sao_paulo.transpose()

sao_paulo2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
color,#f3c32c,#f3d630,#f4eb33,#d2ed31,#7adc29,#36cc24,#19ad51,#0d6999,#051fa5,#150e78,#3d14a4,#5c14a1,#88149f,#b9117d,#d10d54,#e70c26,#f1351b
name,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
score_out_of_10,8.316,7.823,6.6225,4.253,2.2655,4.412,2.781,5.2955,5.46233,1.104,2.6535,2.187,2.8525,3.3895,8.7895,6.8955,7.0775

In [74]:
sao_paulo2.dtypes

col_names = ['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']
sao_paulo2.columns = [col_names]

sao_paulo2

sao_paulo3 = sao_paulo2.drop(sao_paulo2.index[0])
sao_paulo = sao_paulo3.drop(sao_paulo3.index[0])
sao_paulo

#sao_paulo4 = sao_paulo[['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']] = sao_paulo[['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']].astype(int)

sao_paulo['Housing'] = sao_paulo.Housing.astype(float)

print(sao_paulo)

TypeError: only integer scalar arrays can be converted to a scalar index

In [71]:


sao_paulo.dtypes

Housing                  object
Cost of Living           object
Startups                 object
Venture Capital          object
Travel Connectivity      object
Commute                  object
Business Freedom         object
Safety                   object
Healthcare               object
Education                object
Environmental Quality    object
Economy                  object
Taxation                 object
Internet Access          object
Leisure & Culture        object
Tolerance                object
Outdoors                 object
dtype: object

In [12]:
col_names = ['Categories', 'Sao Paulo']
sao_paulo.columns = [col_names]

In [13]:
sao_paulo

               Categories Sao Paulo
0                 Housing  8.316000
1          Cost of Living  7.823000
2                Startups  6.622500
3         Venture Capital  4.253000
4     Travel Connectivity  2.265500
5                 Commute  4.412000
6        Business Freedom  2.781000
7                  Safety  5.295500
8              Healthcare  5.462333
9               Education  1.104000
10  Environmental Quality  2.653500
11                Economy  2.187000
12               Taxation  2.852500
13        Internet Access  3.389500
14      Leisure & Culture  8.789500
15              Tolerance  6.895500
16               Outdoors  7.077500

In [14]:
data = json.load(open('caracas.json'))
caracas = pd.DataFrame(data["categories"])

del caracas['color']

col_names = ['Categories2', 'Caracas']
caracas.columns = [col_names]

caracas



#jsdkfhsjdkf

              Categories2   Caracas
0                 Housing  4.902500
1          Cost of Living  9.820000
2                Startups  3.053500
3         Venture Capital  0.000000
4     Travel Connectivity  1.323500
5                 Commute  4.544250
6        Business Freedom  1.000000
7                  Safety  5.221000
8              Healthcare  4.241333
9               Education  0.000000
10  Environmental Quality  2.272500
11                Economy  1.978000
12               Taxation  4.180000
13        Internet Access  1.641500
14      Leisure & Culture  4.380000
15              Tolerance  4.550500
16               Outdoors  4.098500

In [15]:
data = json.load(open('santiago.json'))
santiago = pd.DataFrame(data["categories"])

del santiago['color']

col_names = ['Categories4', 'Santiago']
santiago.columns = [col_names]

santiago

              Categories4  Santiago
0                 Housing  8.381500
1          Cost of Living  7.237000
2                Startups  6.230500
3         Venture Capital  1.000000
4     Travel Connectivity  2.535500
5                 Commute  5.551000
6        Business Freedom  7.765000
7                  Safety  6.964500
8              Healthcare  7.231667
9               Education  2.641500
10  Environmental Quality  4.528000
11                Economy  3.725000
12               Taxation  8.929500
13        Internet Access  1.000000
14      Leisure & Culture  7.556000
15              Tolerance  7.171500
16               Outdoors  5.500000

In [16]:
data = json.load(open('bogota.json'))
bogota = pd.DataFrame(data["categories"])

del bogota['color']

col_names = ['Categories20', 'Bogota']
bogota.columns = [col_names]

bogota

             Categories20    Bogota
0                 Housing  9.027500
1          Cost of Living  9.080000
2                Startups  5.708500
3         Venture Capital  1.259000
4     Travel Connectivity  1.889000
5                 Commute  4.964000
6        Business Freedom  6.348667
7                  Safety  6.222000
8              Healthcare  5.139000
9               Education  1.534000
10  Environmental Quality  4.347500
11                Economy  4.594500
12               Taxation  1.851500
13        Internet Access  2.976000
14      Leisure & Culture  6.215000
15              Tolerance  8.555500
16               Outdoors  7.477000

In [17]:
data = json.load(open('buenos_aires.json'))
buenos_aires = pd.DataFrame(data["categories"])

del buenos_aires['color']

col_names = ['Categories21', 'Buenos Aires']
buenos_aires.columns = [col_names]

buenos_aires

             Categories21 Buenos Aires
0                 Housing     8.812000
1          Cost of Living     7.764000
2                Startups     4.673000
3         Venture Capital     2.310000
4     Travel Connectivity     3.770000
5                 Commute     4.923500
6        Business Freedom     4.045333
7                  Safety     6.039500
8              Healthcare     6.106667
9               Education     1.422000
10  Environmental Quality     4.869000
11                Economy     2.884000
12               Taxation     1.568000
13        Internet Access     1.527500
14      Leisure & Culture     7.673500
15              Tolerance     8.584000
16               Outdoors     4.535500

In [18]:
data = json.load(open('curitiba.json'))
curitiba = pd.DataFrame(data["categories"])

del curitiba['color']

col_names = ['Categories22', 'Curitiba']
curitiba.columns = [col_names]

curitiba

             Categories22  Curitiba
0                 Housing  9.429500
1          Cost of Living  8.433000
2                Startups  2.912000
3         Venture Capital  2.148000
4     Travel Connectivity  0.890000
5                 Commute  4.950250
6        Business Freedom  2.781000
7                  Safety  5.946500
8              Healthcare  5.579333
9               Education  1.016500
10  Environmental Quality  7.757250
11                Economy  2.187000
12               Taxation  2.852500
13        Internet Access  3.142000
14      Leisure & Culture  7.187500
15              Tolerance  7.848000
16               Outdoors  2.665500

In [20]:
'''
response = requests.get('https://api.teleport.org/api/urban_areas/slug%3Alima/scores/')
results = response.json()
print(results)

lima = pd.DataFrame.from_dict(results, orient='columns')

del lima['color']

col_names = ['Categories23', 'Lima']
lima.columns = [col_names]

lim
'''


#df = pd.DataFrame.from_dict(data, orient='columns')

"\nresponse = requests.get('https://api.teleport.org/api/urban_areas/slug%3Alima/scores/')\nresults = response.json()\nprint(results)\n\nlima = pd.DataFrame.from_dict(results, orient='columns')\n\ndel lima['color']\n\ncol_names = ['Categories23', 'Lima']\nlima.columns = [col_names]\n\nlim\n"

In [21]:
data = json.load(open('rio_de_janeiro.json'))
rio_de_janeiro = pd.DataFrame(data["categories"])

del rio_de_janeiro['color']

col_names = ['Categories5', 'Rio de Janeiro']
rio_de_janeiro.columns = [col_names]

rio_de_janeiro

              Categories5 Rio de Janeiro
0                 Housing       8.320000
1          Cost of Living       7.751000
2                Startups       4.823000
3         Venture Capital       2.414000
4     Travel Connectivity       1.493000
5                 Commute       4.553250
6        Business Freedom       4.036667
7                  Safety       5.295500
8              Healthcare       4.996667
9               Education       1.017500
10  Environmental Quality       3.322750
11                Economy       2.187000
12               Taxation       2.845500
13        Internet Access       2.338000
14      Leisure & Culture       8.667500
15              Tolerance       5.771500
16               Outdoors       6.152000

In [23]:
data = json.load(open('quito.json'))
quito = pd.DataFrame(data["categories"])

del quito['color']

col_names = ['Categories6', 'Quito']
quito.columns = [col_names]

quito



#jsdsa

              Categories6     Quito
0                 Housing  9.016500
1          Cost of Living  7.822000
2                Startups  2.857500
3         Venture Capital  0.000000
4     Travel Connectivity  0.890000
5                 Commute  4.789250
6        Business Freedom  3.021333
7                  Safety  6.969000
8              Healthcare  5.324000
9               Education  0.000000
10  Environmental Quality  4.176250
11                Economy  3.885500
12               Taxation  7.514000
13        Internet Access  3.481500
14      Leisure & Culture  4.801500
15              Tolerance  8.826500
16               Outdoors  5.500000

In [24]:
data = json.load(open('porto_alegre.json'))
porto_alegre = pd.DataFrame(data["categories"])

del porto_alegre['color']

col_names = ['Categories7', 'Porto Alegre']
porto_alegre.columns = [col_names]

porto_alegre

              Categories7 Porto Alegre
0                 Housing     9.221000
1          Cost of Living     8.120000
2                Startups     2.670500
3         Venture Capital     0.000000
4     Travel Connectivity     0.965500
5                 Commute     5.105000
6        Business Freedom     2.781000
7                  Safety     5.295500
8              Healthcare     5.499667
9               Education     1.017000
10  Environmental Quality     4.139750
11                Economy     2.187000
12               Taxation     2.852500
13        Internet Access     2.196000
14      Leisure & Culture     7.703500
15              Tolerance     7.448000
16               Outdoors     4.922500

In [25]:
data = json.load(open('montevideo.json'))
montevideo = pd.DataFrame(data["categories"])

del montevideo['color']

col_names = ['Categories8', 'Montevideo']
montevideo.columns = [col_names]

montevideo

#asdjhakjds

              Categories8 Montevideo
0                 Housing   8.183000
1          Cost of Living   6.197000
2                Startups   2.863000
3         Venture Capital   2.205000
4     Travel Connectivity   1.183000
5                 Commute   5.288000
6        Business Freedom   7.944000
7                  Safety   5.973500
8              Healthcare   6.364667
9               Education   1.690000
10  Environmental Quality   4.545000
11                Economy   4.416000
12               Taxation   4.828500
13        Internet Access   2.178500
14      Leisure & Culture   4.946500
15              Tolerance   9.710000
16               Outdoors   5.178500

In [26]:
data = json.load(open('medellin.json'))
medellin = pd.DataFrame(data["categories"])

del medellin['color']

col_names = ['Categories9', 'Medellin']
medellin.columns = [col_names]

medellin


#asdjhakjds

              Categories9  Medellin
0                 Housing  9.231500
1          Cost of Living  9.315000
2                Startups  4.618000
3         Venture Capital  0.000000
4     Travel Connectivity  0.928000
5                 Commute  5.354500
6        Business Freedom  6.348667
7                  Safety  7.477000
8              Healthcare  5.452333
9               Education  1.531000
10  Environmental Quality  6.170750
11                Economy  4.594500
12               Taxation  1.851500
13        Internet Access  4.148500
14      Leisure & Culture  5.029000
15              Tolerance  9.302000
16               Outdoors  3.662000

In [27]:
'''
data = json.load(open('ls_paz.json'))
la_paz = pd.DataFrame(data["categories"])

del la_paz['color']

la_paz2 = la_paz.transpose()
la_paz2['City'] = 'La Paz'

col_names = ['Housing', 'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors', 'City']
la_paz2.columns = [col_names]

la_paz3 = la_paz2.drop(la_paz2.index[0])

la_paz3

#asdjhakjds


'''

'\ndata = json.load(open(\'ls_paz.json\'))\nla_paz = pd.DataFrame(data["categories"])\n\ndel la_paz[\'color\']\n\nla_paz2 = la_paz.transpose()\nla_paz2[\'City\'] = \'La Paz\'\n\ncol_names = [\'Housing\', \'Cost of Living\', \'Startups\', \'Venture Capital\', \'Travel Connectivity\', \'Commute\', \'Business Freedom\', \'Safety\', \'Healthcare\', \'Education\', \'Environmental Quality\', \'Economy\', \'Taxation\', \'Internet Access\', \'Leisure & Culture\', \'Tolerance\', \'Outdoors\', \'City\']\nla_paz2.columns = [col_names]\n\nla_paz3 = la_paz2.drop(la_paz2.index[0])\n\nla_paz3\n\n#asdjhakjds\n\n\n'

In [28]:
data = json.load(open('florianopolis.json'))
florianopolis = pd.DataFrame(data["categories"])

del florianopolis['color']

col_names = ['Categories10', 'Florianopolis']
florianopolis.columns = [col_names]

florianopolis

#asdjhakjds

             Categories10 Florianopolis
0                 Housing      9.059500
1          Cost of Living      8.331000
2                Startups      1.000000
3         Venture Capital      0.000000
4     Travel Connectivity      0.683000
5                 Commute      4.787750
6        Business Freedom      2.781000
7                  Safety      6.525000
8              Healthcare      5.218667
9               Education      1.016500
10  Environmental Quality      4.944000
11                Economy      2.187000
12               Taxation      2.852500
13        Internet Access      3.185000
14      Leisure & Culture      5.330000
15              Tolerance      7.637500
16               Outdoors      5.751000

In [29]:
data = json.load(open('asunction.json'))
asuncion = pd.DataFrame(data["categories"])

del asuncion['color']

col_names = ['Categories11', 'Asuncion']
asuncion.columns = [col_names]

asuncion



#asdjhakjds

             Categories11  Asuncion
0                 Housing  9.226500
1          Cost of Living  9.295000
2                Startups  2.207000
3         Venture Capital  0.000000
4     Travel Connectivity  0.645000
5                 Commute  4.968750
6        Business Freedom  3.684000
7                  Safety  6.934500
8              Healthcare  4.891333
9               Education  0.000000
10  Environmental Quality  3.969000
11                Economy  4.109000
12               Taxation  8.423500
13        Internet Access  1.479000
14      Leisure & Culture  5.992000
15              Tolerance  7.051500
16               Outdoors  3.484500

In [30]:
frames = [asuncion, florianopolis, medellin, montevideo, porto_alegre, quito, rio_de_janeiro, santiago, caracas, sao_paulo, bogota, buenos_aires, curitiba]

scores = pd.concat(frames, axis = 1)

In [31]:
scores

,Categories11,Asuncion,Categories10,Florianopolis,Categories9,Medellin,Categories8,Montevideo,Categories7,Porto Alegre,...,Categories2,Caracas,Categories,Sao Paulo,Categories20,Bogota,Categories21,Buenos Aires,Categories22,Curitiba
0,Housing,9.226500,Housing,9.059500,Housing,9.231500,Housing,8.183000,Housing,9.221000,...,Housing,4.902500,Housing,8.316000,Housing,9.027500,Housing,8.812000,Housing,9.429500
1,Cost of Living,9.295000,Cost of Living,8.331000,Cost of Living,9.315000,Cost of Living,6.197000,Cost of Living,8.120000,...,Cost of Living,9.820000,Cost of Living,7.823000,Cost of Living,9.080000,Cost of Living,7.764000,Cost of Living,8.433000
2,Startups,2.207000,Startups,1.000000,Startups,4.618000,Startups,2.863000,Startups,2.670500,...,Startups,3.053500,Startups,6.622500,Startups,5.708500,Startups,4.673000,Startups,2.912000
3,Venture Capital,0.000000,Venture Capital,0.000000,Venture Capital,0.000000,Venture Capital,2.205000,Venture Capital,0.000000,...,Venture Capital,0.000000,Venture Capital,4.253000,Venture Capital,1.259000,Venture Capital,2.310000,Venture Capital,2.148000
4,Travel Connectivity,0.645000,Travel Connectivity,0.683000,Travel Connectivity,0.928000,Travel Connectivity,1.183000,Travel Connectivity,0.965500,...,Travel Connectivity,1.323500,Travel Connectivity,2.265500,Travel Connectivity,1.889000,Travel Connectivity,3.770000,Travel Connectivity,0.890000
5,Commute,4.968750,Commute,4.787750,Commute,5.354500,Commute,5.288000,Commute,5.105000,...,Commute,4.544250,Commute,4.412000,Commute,4.964000,Commute,4.923500,Commute,4.950250
6,Business Freedom,3.684000,Business Freedom,2.781000,Business Freedom,6.348667,Business Freedom,7.944000,Business Freedom,2.781000,...,Business Freedom,1.000000,Business Freedom,2.781000,Business Freedom,6.348667,Business Freedom,4.045333,Business Freedom,2.781000
7,Safety,6.934500,Safety,6.525000,Safety,7.477000,Safety,5.973500,Safety,5.295500,...,Safety,5.221000,Safety,5.295500,Safety,6.222000,Safety,6.039500,Safety,5.946500
8,Healthcare,4.891333,Healthcare,5.218667,Healthcare,5.452333,Healthcare,6.364667,Healthcare,5.499667,...,Healthcare,4.241333,Healthcare,5.462333,Healthcare,5.139000,Healthcare,6.106667,Healthcare,5.579333
9,Education,0.000000,Education,1.016500,Education,1.531000,Education,1.690000,Education,1.017000,...,Education,0.000000,Education,1.104000,Education,1.534000,Education,1.422000,Education,1.016500
10,Environmental Quality,3.969000,Environmental Quality,4.944000,Environmental Quality,6.170750,Environmental Quality,4.545000,Environmental Quality,4.139750,...,Environmental Quality,2.272500,Environmental Quality,2.653500,Environmental Quality,4.347500,Environmental Quality,4.869000,Environmental Quality,7.757250
11,Economy,4.109000,Economy,2.187000,Economy,4.594500,Economy,4.416000,Economy,2.187000,...,Economy,1.978000,Economy,2.187000,Economy,4.594500,Economy,2.884000,Economy,2.187000
12,Taxation,8.423500,Taxation,2.852500,Taxation,1.851500,Taxation,4.828500,Taxation,2.852500,...,Taxation,4.180000,Taxation,2.852500,Taxation,1.851500,Taxation,1.568000,Taxation,2.852500
13,Internet Access,1.479000,Internet Access,3.185000,Internet Access,4.148500,Internet Access,2.178500,Internet Access,2.196000,...,Internet Access,1.641500,Internet Access,3.389500,Internet Access,2.976000,Internet Access,1.527500,Internet Access,3.142000
14,Leisure & Culture,5.992000,Leisure & Culture,5.330000,Leisure & Culture,5.029000,Leisure & Culture,4.946500,Leisure & Culture,7.703500,...,Leisure & Culture,4.380000,Leisure & Culture,8.789500,Leisure & Culture,6.215000,Leisure & Culture,7.673500,Leisure & Culture,7.187500
15,Tolerance,7.051500,Tolerance,7.637500,Tolerance,9.302000,Tolerance,9.710000,Tolerance,7.448000,...,Tolerance,4.550500,Tolerance,6.895500,Tolerance,8.555500,Tolerance,8.584000,Tolerance,7.848000
16,Outdoors,3.484500,Outdoors,5.751000,Outdoors,3.662000,Outdoors,5.178500,Outdoors,4.922500,...,Outdoors,4.098500,Outdoors,7.077500,Outdoors,7.477000,Outdoors,4.535500,Outdoors,2.665500

In [49]:
del scores['Categories24']

KeyError: ('Categories24',)

In [175]:

scores.to_csv('scores.csv')

In [50]:
scores

,Asuncion,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Caracas,Categories,Sao Paulo,Bogota,Buenos Aires,Curitiba
0,9.226500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,4.902500,Housing,8.316000,9.027500,8.812000,9.429500
1,9.295000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,9.820000,Cost of Living,7.823000,9.080000,7.764000,8.433000
2,2.207000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,3.053500,Startups,6.622500,5.708500,4.673000,2.912000
3,0.000000,0.000000,0.000000,2.205000,0.000000,0.000000,2.414000,1.000000,0.000000,Venture Capital,4.253000,1.259000,2.310000,2.148000
4,0.645000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,1.323500,Travel Connectivity,2.265500,1.889000,3.770000,0.890000
5,4.968750,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.544250,Commute,4.412000,4.964000,4.923500,4.950250
6,3.684000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,1.000000,Business Freedom,2.781000,6.348667,4.045333,2.781000
7,6.934500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.221000,Safety,5.295500,6.222000,6.039500,5.946500
8,4.891333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,4.241333,Healthcare,5.462333,5.139000,6.106667,5.579333
9,0.000000,1.016500,1.531000,1.690000,1.017000,0.000000,1.017500,2.641500,0.000000,Education,1.104000,1.534000,1.422000,1.016500
10,3.969000,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.272500,Environmental Quality,2.653500,4.347500,4.869000,7.757250
11,4.109000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,1.978000,Economy,2.187000,4.594500,2.884000,2.187000
12,8.423500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,4.180000,Taxation,2.852500,1.851500,1.568000,2.852500
13,1.479000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,1.641500,Internet Access,3.389500,2.976000,1.527500,3.142000
14,5.992000,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,4.380000,Leisure & Culture,8.789500,6.215000,7.673500,7.187500
15,7.051500,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,4.550500,Tolerance,6.895500,8.555500,8.584000,7.848000
16,3.484500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,4.098500,Outdoors,7.077500,7.477000,4.535500,2.665500

In [51]:
scores2 = scores.drop(scores.index[3])
scores2

,Asuncion,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Caracas,Categories,Sao Paulo,Bogota,Buenos Aires,Curitiba
0,9.226500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,4.902500,Housing,8.316000,9.027500,8.812000,9.429500
1,9.295000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,9.820000,Cost of Living,7.823000,9.080000,7.764000,8.433000
2,2.207000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,3.053500,Startups,6.622500,5.708500,4.673000,2.912000
4,0.645000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,1.323500,Travel Connectivity,2.265500,1.889000,3.770000,0.890000
5,4.968750,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.544250,Commute,4.412000,4.964000,4.923500,4.950250
6,3.684000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,1.000000,Business Freedom,2.781000,6.348667,4.045333,2.781000
7,6.934500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.221000,Safety,5.295500,6.222000,6.039500,5.946500
8,4.891333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,4.241333,Healthcare,5.462333,5.139000,6.106667,5.579333
9,0.000000,1.016500,1.531000,1.690000,1.017000,0.000000,1.017500,2.641500,0.000000,Education,1.104000,1.534000,1.422000,1.016500
10,3.969000,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.272500,Environmental Quality,2.653500,4.347500,4.869000,7.757250
11,4.109000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,1.978000,Economy,2.187000,4.594500,2.884000,2.187000
12,8.423500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,4.180000,Taxation,2.852500,1.851500,1.568000,2.852500
13,1.479000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,1.641500,Internet Access,3.389500,2.976000,1.527500,3.142000
14,5.992000,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,4.380000,Leisure & Culture,8.789500,6.215000,7.673500,7.187500
15,7.051500,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,4.550500,Tolerance,6.895500,8.555500,8.584000,7.848000
16,3.484500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,4.098500,Outdoors,7.077500,7.477000,4.535500,2.665500

In [52]:
scores3 = scores2.drop(scores.index[9])

In [53]:
scores3

,Asuncion,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Caracas,Categories,Sao Paulo,Bogota,Buenos Aires,Curitiba
0,9.226500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,4.902500,Housing,8.316000,9.027500,8.812000,9.429500
1,9.295000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,9.820000,Cost of Living,7.823000,9.080000,7.764000,8.433000
2,2.207000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,3.053500,Startups,6.622500,5.708500,4.673000,2.912000
4,0.645000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,1.323500,Travel Connectivity,2.265500,1.889000,3.770000,0.890000
5,4.968750,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.544250,Commute,4.412000,4.964000,4.923500,4.950250
6,3.684000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,1.000000,Business Freedom,2.781000,6.348667,4.045333,2.781000
7,6.934500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.221000,Safety,5.295500,6.222000,6.039500,5.946500
8,4.891333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,4.241333,Healthcare,5.462333,5.139000,6.106667,5.579333
10,3.969000,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.272500,Environmental Quality,2.653500,4.347500,4.869000,7.757250
11,4.109000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,1.978000,Economy,2.187000,4.594500,2.884000,2.187000
12,8.423500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,4.180000,Taxation,2.852500,1.851500,1.568000,2.852500
13,1.479000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,1.641500,Internet Access,3.389500,2.976000,1.527500,3.142000
14,5.992000,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,4.380000,Leisure & Culture,8.789500,6.215000,7.673500,7.187500
15,7.051500,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,4.550500,Tolerance,6.895500,8.555500,8.584000,7.848000
16,3.484500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,4.098500,Outdoors,7.077500,7.477000,4.535500,2.665500

In [78]:
scores3.to_csv('scores.csv')

scores3 = pd.read_csv('scores.csv')

scores3

,Unnamed: 0,Unnamed: 0.1,Asuncion,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Caracas,Categories,Sao Paulo,Bogota,Buenos Aires,Curitiba
0,0,0,9.226500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,4.902500,Housing,8.316000,9.027500,8.812000,9.429500
1,1,1,9.295000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,9.820000,Cost of Living,7.823000,9.080000,7.764000,8.433000
2,2,2,2.207000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,3.053500,Startups,6.622500,5.708500,4.673000,2.912000
3,3,4,0.645000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,1.323500,Travel Connectivity,2.265500,1.889000,3.770000,0.890000
4,4,5,4.968750,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.544250,Commute,4.412000,4.964000,4.923500,4.950250
5,5,6,3.684000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,1.000000,Business Freedom,2.781000,6.348667,4.045333,2.781000
6,6,7,6.934500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.221000,Safety,5.295500,6.222000,6.039500,5.946500
7,7,8,4.891333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,4.241333,Healthcare,5.462333,5.139000,6.106667,5.579333
8,8,10,3.969000,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.272500,Environmental Quality,2.653500,4.347500,4.869000,7.757250
9,9,11,4.109000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,1.978000,Economy,2.187000,4.594500,2.884000,2.187000
10,10,12,8.423500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,4.180000,Taxation,2.852500,1.851500,1.568000,2.852500
11,11,13,1.479000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,1.641500,Internet Access,3.389500,2.976000,1.527500,3.142000
12,12,14,5.992000,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,4.380000,Leisure & Culture,8.789500,6.215000,7.673500,7.187500
13,13,15,7.051500,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,4.550500,Tolerance,6.895500,8.555500,8.584000,7.848000
14,14,16,3.484500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,4.098500,Outdoors,7.077500,7.477000,4.535500,2.665500

In [180]:
totals = scores3.sum()
totals

Asuncion                                                    76.3606
Florianopolis                                               70.2729
Medellin                                                    83.4832
Montevideo                                                  79.7992
Porto Alegre                                                71.1074
Quito                                                       78.8748
Rio de Janeiro                                              72.5533
Santiago                                                    90.3067
Caracas                                                     57.2071
Categories        HousingCost of LivingStartupsTravel Connectivi...
Sao Paulo                                                   76.8228
Bogota                                                      84.3957
Buenos Aires                                                77.7755
Curitiba                                                    74.5613
dtype: object

In [88]:
scores3

del scores3['Unnamed: 0']
del scores3['Unnamed: 0.1']

In [72]:
temp = pd.read_excel('temps2.xlsx')

In [73]:
temp

,Categories,Asuncion,Bogota,Buenos Aires,Caracas,Curitiba,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Sao Paulo
0,avg_max_temp,8,2,2,8,2,8,8,2,8,2,8,2,8
1,avg_min_temp,8,2,8,8,2,8,8,2,8,2,8,2,8
2,hours_of_sun,8,2,8,8,2,2,2,8,8,2,2,8,2
3,rain_days_per_month,8,2,8,8,2,2,2,8,2,2,2,8,2

In [ ]:
temp[['Asuncion', 'Bogota', 'Buenos Aires', 'Caracas', 'Curitiba', 'Florianopolis', 'Medellin', 'Montevideo', 'Porto Alegre', 'Quito', 'Rio de Janeiro', 'Santiago', 'Sao Paulo']]

In [89]:
col_names = ['Categories', 'Asuncion', 'Bogota', 'Buenos Aires', 'Caracas', 'Curitiba', 'Florianopolis', 'Medellin', 'Montevideo', 'Porto Alegre', 'Quito', 'Rio de Janeiro', 'Santiago', 'Sao Paulo']

In [90]:
scores4 = scores3[col_names]

In [91]:
scores4

,Categories,Asuncion,Bogota,Buenos Aires,Caracas,Curitiba,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Sao Paulo
0,Housing,9.226500,9.027500,8.812000,4.902500,9.429500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,8.316000
1,Cost of Living,9.295000,9.080000,7.764000,9.820000,8.433000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,7.823000
2,Startups,2.207000,5.708500,4.673000,3.053500,2.912000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,6.622500
3,Travel Connectivity,0.645000,1.889000,3.770000,1.323500,0.890000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,2.265500
4,Commute,4.968750,4.964000,4.923500,4.544250,4.950250,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.412000
5,Business Freedom,3.684000,6.348667,4.045333,1.000000,2.781000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,2.781000
6,Safety,6.934500,6.222000,6.039500,5.221000,5.946500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.295500
7,Healthcare,4.891333,5.139000,6.106667,4.241333,5.579333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,5.462333
8,Environmental Quality,3.969000,4.347500,4.869000,2.272500,7.757250,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.653500
9,Economy,4.109000,4.594500,2.884000,1.978000,2.187000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,2.187000
10,Taxation,8.423500,1.851500,1.568000,4.180000,2.852500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,2.852500
11,Internet Access,1.479000,2.976000,1.527500,1.641500,3.142000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,3.389500
12,Leisure & Culture,5.992000,6.215000,7.673500,4.380000,7.187500,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,8.789500
13,Tolerance,7.051500,8.555500,8.584000,4.550500,7.848000,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,6.895500
14,Outdoors,3.484500,7.477000,4.535500,4.098500,2.665500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,7.077500

In [92]:
frames = [temp, scores4]
scores.shape

(17, 14)

In [94]:
total = pd.concat(frames, axis = 0)
total

,Categories,Asuncion,Bogota,Buenos Aires,Caracas,Curitiba,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Sao Paulo
0,avg_max_temp,8.000000,2.000000,2.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
1,avg_min_temp,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
2,hours_of_sun,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,8.000000,2.000000,2.000000,8.000000,2.000000
3,rain_days_per_month,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000
0,Housing,9.226500,9.027500,8.812000,4.902500,9.429500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,8.316000
1,Cost of Living,9.295000,9.080000,7.764000,9.820000,8.433000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,7.823000
2,Startups,2.207000,5.708500,4.673000,3.053500,2.912000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,6.622500
3,Travel Connectivity,0.645000,1.889000,3.770000,1.323500,0.890000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,2.265500
4,Commute,4.968750,4.964000,4.923500,4.544250,4.950250,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.412000
5,Business Freedom,3.684000,6.348667,4.045333,1.000000,2.781000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,2.781000
6,Safety,6.934500,6.222000,6.039500,5.221000,5.946500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.295500
7,Healthcare,4.891333,5.139000,6.106667,4.241333,5.579333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,5.462333
8,Environmental Quality,3.969000,4.347500,4.869000,2.272500,7.757250,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.653500
9,Economy,4.109000,4.594500,2.884000,1.978000,2.187000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,2.187000
10,Taxation,8.423500,1.851500,1.568000,4.180000,2.852500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,2.852500
11,Internet Access,1.479000,2.976000,1.527500,1.641500,3.142000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,3.389500
12,Leisure & Culture,5.992000,6.215000,7.673500,4.380000,7.187500,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,8.789500
13,Tolerance,7.051500,8.555500,8.584000,4.550500,7.848000,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,6.895500
14,Outdoors,3.484500,7.477000,4.535500,4.098500,2.665500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,7.077500

In [95]:
total.to_csv('total.csv')

In [96]:
scores.dtypes

Asuncion          float64
Florianopolis     float64
Medellin          float64
Montevideo        float64
Porto Alegre      float64
Quito             float64
Rio de Janeiro    float64
Santiago          float64
Caracas           float64
Categories         object
Sao Paulo         float64
Bogota            float64
Buenos Aires      float64
Curitiba          float64
dtype: object

In [83]:
temp

temp['Asuncion']=temp.Asuncion.astype(float)
temp['Bogota']=temp.Bogota.astype(float)
temp['Buenos Aires']=temp['Buenos Aires'].astype(float)
temp['Caracas']=temp.Caracas.astype(float)
temp['Curitiba']=temp.Curitiba.astype(float)
temp['Florianopolis']=temp.Florianopolis.astype(float)
temp['Medellin']=temp.Medellin.astype(float)
temp['Montevideo']=temp.Montevideo.astype(float)
temp['Porto Alegre']=temp['Porto Alegre'].astype(float)
temp['Quito']=temp.Quito.astype(float)
temp['Rio de Janeiro']=temp['Rio de Janeiro'].astype(float)
temp['Santiago']=temp.Caracas.astype(float)
temp['Sao Paulo']=temp['Sao Paulo'].astype(float)

temp.dtypes

Categories         object
Asuncion          float64
Bogota            float64
Buenos Aires      float64
Caracas           float64
Curitiba          float64
Florianopolis     float64
Medellin          float64
Montevideo        float64
Porto Alegre      float64
Quito             float64
Rio de Janeiro    float64
Santiago          float64
Sao Paulo         float64
dtype: object

In [76]:
scores.sum()

Asuncion                                                    76.3606
Florianopolis                                               71.2894
Medellin                                                    85.0143
Montevideo                                                  83.6942
Porto Alegre                                                72.1244
Quito                                                       78.8748
Rio de Janeiro                                              75.9848
Santiago                                                    93.9482
Caracas                                                     57.2071
Categories        HousingCost of LivingStartupsVenture CapitalTr...
Sao Paulo                                                   82.1798
Bogota                                                      87.1887
Buenos Aires                                                81.5075
Curitiba                                                    77.7258
dtype: object

In [98]:
sum_cities = total.sum()

In [100]:
sum_cities.to_csv('sum_cities.csv')

/Users/louise/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [103]:
total2 = total.transpose()
total2

,0,1,2,3,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Categories,avg_max_temp,avg_min_temp,hours_of_sun,rain_days_per_month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Asuncion,8,8,8,8,9.2265,9.295,2.207,0.645,4.96875,3.684,6.9345,4.89133,3.969,4.109,8.4235,1.479,5.992,7.0515,3.4845
Bogota,2,2,2,2,9.0275,9.08,5.7085,1.889,4.964,6.34867,6.222,5.139,4.3475,4.5945,1.8515,2.976,6.215,8.5555,7.477
Buenos Aires,2,8,8,8,8.812,7.764,4.673,3.77,4.9235,4.04533,6.0395,6.10667,4.869,2.884,1.568,1.5275,7.6735,8.584,4.5355
Caracas,8,8,8,8,4.9025,9.82,3.0535,1.3235,4.54425,1,5.221,4.24133,2.2725,1.978,4.18,1.6415,4.38,4.5505,4.0985
Curitiba,2,2,2,2,9.4295,8.433,2.912,0.89,4.95025,2.781,5.9465,5.57933,7.75725,2.187,2.8525,3.142,7.1875,7.848,2.6655
Florianopolis,8,8,2,2,9.0595,8.331,1,0.683,4.78775,2.781,6.525,5.21867,4.944,2.187,2.8525,3.185,5.33,7.6375,5.751
Medellin,8,8,2,2,9.2315,9.315,4.618,0.928,5.3545,6.34867,7.477,5.45233,6.17075,4.5945,1.8515,4.1485,5.029,9.302,3.662
Montevideo,2,2,8,8,8.183,6.197,2.863,1.183,5.288,7.944,5.9735,6.36467,4.545,4.416,4.8285,2.1785,4.9465,9.71,5.1785
Porto Alegre,8,8,8,2,9.221,8.12,2.6705,0.9655,5.105,2.781,5.2955,5.49967,4.13975,2.187,2.8525,2.196,7.7035,7.448,4.9225
Quito,2,2,2,2,9.0165,7.822,2.8575,0.89,4.78925,3.02133,6.969,5.324,4.17625,3.8855,7.514,3.4815,4.8015,8.8265,5.5
Rio de Janeiro,8,8,2,2,8.32,7.751,4.823,1.493,4.55325,4.03667,5.2955,4.99667,3.32275,2.187,2.8455,2.338,8.6675,5.7715,6.152
Santiago,8,8,8,8,8.3815,7.237,6.2305,2.5355,5.551,7.765,6.9645,7.23167,4.528,3.725,8.9295,1,7.556,7.1715,5.5
Sao Paulo,8,8,2,2,8.316,7.823,6.6225,2.2655,4.412,2.781,5.2955,5.46233,2.6535,2.187,2.8525,3.3895,8.7895,6.8955,7.0775

In [105]:
total2.dtypes

0     object
1     object
2     object
3     object
0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
dtype: object

In [108]:
col_names = ['Avg max temp', 'Avg min temp', 'Hours of sun', 'Rain days per month', 'Housing', 'Cost of Living', 'Startups', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']

total2.columns = [col_names]

total2

,Avg max temp,Avg min temp,Hours of sun,Rain days per month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Categories,avg_max_temp,avg_min_temp,hours_of_sun,rain_days_per_month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Asuncion,8,8,8,8,9.2265,9.295,2.207,0.645,4.96875,3.684,6.9345,4.89133,3.969,4.109,8.4235,1.479,5.992,7.0515,3.4845
Bogota,2,2,2,2,9.0275,9.08,5.7085,1.889,4.964,6.34867,6.222,5.139,4.3475,4.5945,1.8515,2.976,6.215,8.5555,7.477
Buenos Aires,2,8,8,8,8.812,7.764,4.673,3.77,4.9235,4.04533,6.0395,6.10667,4.869,2.884,1.568,1.5275,7.6735,8.584,4.5355
Caracas,8,8,8,8,4.9025,9.82,3.0535,1.3235,4.54425,1,5.221,4.24133,2.2725,1.978,4.18,1.6415,4.38,4.5505,4.0985
Curitiba,2,2,2,2,9.4295,8.433,2.912,0.89,4.95025,2.781,5.9465,5.57933,7.75725,2.187,2.8525,3.142,7.1875,7.848,2.6655
Florianopolis,8,8,2,2,9.0595,8.331,1,0.683,4.78775,2.781,6.525,5.21867,4.944,2.187,2.8525,3.185,5.33,7.6375,5.751
Medellin,8,8,2,2,9.2315,9.315,4.618,0.928,5.3545,6.34867,7.477,5.45233,6.17075,4.5945,1.8515,4.1485,5.029,9.302,3.662
Montevideo,2,2,8,8,8.183,6.197,2.863,1.183,5.288,7.944,5.9735,6.36467,4.545,4.416,4.8285,2.1785,4.9465,9.71,5.1785
Porto Alegre,8,8,8,2,9.221,8.12,2.6705,0.9655,5.105,2.781,5.2955,5.49967,4.13975,2.187,2.8525,2.196,7.7035,7.448,4.9225
Quito,2,2,2,2,9.0165,7.822,2.8575,0.89,4.78925,3.02133,6.969,5.324,4.17625,3.8855,7.514,3.4815,4.8015,8.8265,5.5
Rio de Janeiro,8,8,2,2,8.32,7.751,4.823,1.493,4.55325,4.03667,5.2955,4.99667,3.32275,2.187,2.8455,2.338,8.6675,5.7715,6.152
Santiago,8,8,8,8,8.3815,7.237,6.2305,2.5355,5.551,7.765,6.9645,7.23167,4.528,3.725,8.9295,1,7.556,7.1715,5.5
Sao Paulo,8,8,2,2,8.316,7.823,6.6225,2.2655,4.412,2.781,5.2955,5.46233,2.6535,2.187,2.8525,3.3895,8.7895,6.8955,7.0775

In [109]:
total3 = total2.drop(total2.index[0])
total3

,Avg max temp,Avg min temp,Hours of sun,Rain days per month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Asuncion,8,8,8,8,9.2265,9.295,2.207,0.645,4.96875,3.684,6.9345,4.89133,3.969,4.109,8.4235,1.479,5.992,7.0515,3.4845
Bogota,2,2,2,2,9.0275,9.08,5.7085,1.889,4.964,6.34867,6.222,5.139,4.3475,4.5945,1.8515,2.976,6.215,8.5555,7.477
Buenos Aires,2,8,8,8,8.812,7.764,4.673,3.77,4.9235,4.04533,6.0395,6.10667,4.869,2.884,1.568,1.5275,7.6735,8.584,4.5355
Caracas,8,8,8,8,4.9025,9.82,3.0535,1.3235,4.54425,1,5.221,4.24133,2.2725,1.978,4.18,1.6415,4.38,4.5505,4.0985
Curitiba,2,2,2,2,9.4295,8.433,2.912,0.89,4.95025,2.781,5.9465,5.57933,7.75725,2.187,2.8525,3.142,7.1875,7.848,2.6655
Florianopolis,8,8,2,2,9.0595,8.331,1,0.683,4.78775,2.781,6.525,5.21867,4.944,2.187,2.8525,3.185,5.33,7.6375,5.751
Medellin,8,8,2,2,9.2315,9.315,4.618,0.928,5.3545,6.34867,7.477,5.45233,6.17075,4.5945,1.8515,4.1485,5.029,9.302,3.662
Montevideo,2,2,8,8,8.183,6.197,2.863,1.183,5.288,7.944,5.9735,6.36467,4.545,4.416,4.8285,2.1785,4.9465,9.71,5.1785
Porto Alegre,8,8,8,2,9.221,8.12,2.6705,0.9655,5.105,2.781,5.2955,5.49967,4.13975,2.187,2.8525,2.196,7.7035,7.448,4.9225
Quito,2,2,2,2,9.0165,7.822,2.8575,0.89,4.78925,3.02133,6.969,5.324,4.17625,3.8855,7.514,3.4815,4.8015,8.8265,5.5
Rio de Janeiro,8,8,2,2,8.32,7.751,4.823,1.493,4.55325,4.03667,5.2955,4.99667,3.32275,2.187,2.8455,2.338,8.6675,5.7715,6.152
Santiago,8,8,8,8,8.3815,7.237,6.2305,2.5355,5.551,7.765,6.9645,7.23167,4.528,3.725,8.9295,1,7.556,7.1715,5.5
Sao Paulo,8,8,2,2,8.316,7.823,6.6225,2.2655,4.412,2.781,5.2955,5.46233,2.6535,2.187,2.8525,3.3895,8.7895,6.8955,7.0775

In [111]:
total3.corr()

Empty DataFrame
Columns: []
Index: []

In [3]:
total = pd.read_csv('total.csv')
total

del total['Unnamed: 0']
total

,Categories,Asuncion,Bogota,Buenos Aires,Caracas,Curitiba,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Sao Paulo
0,avg_max_temp,8.000000,2.000000,2.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
1,avg_min_temp,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
2,hours_of_sun,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,8.000000,2.000000,2.000000,8.000000,2.000000
3,rain_days_per_month,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000
4,Housing,9.226500,9.027500,8.812000,4.902500,9.429500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,8.316000
5,Cost of Living,9.295000,9.080000,7.764000,9.820000,8.433000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,7.823000
6,Startups,2.207000,5.708500,4.673000,3.053500,2.912000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,6.622500
7,Travel Connectivity,0.645000,1.889000,3.770000,1.323500,0.890000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,2.265500
8,Commute,4.968750,4.964000,4.923500,4.544250,4.950250,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.412000
9,Business Freedom,3.684000,6.348667,4.045333,1.000000,2.781000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,2.781000
10,Safety,6.934500,6.222000,6.039500,5.221000,5.946500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.295500
11,Healthcare,4.891333,5.139000,6.106667,4.241333,5.579333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,5.462333
12,Environmental Quality,3.969000,4.347500,4.869000,2.272500,7.757250,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.653500
13,Economy,4.109000,4.594500,2.884000,1.978000,2.187000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,2.187000
14,Taxation,8.423500,1.851500,1.568000,4.180000,2.852500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,2.852500
15,Internet Access,1.479000,2.976000,1.527500,1.641500,3.142000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,3.389500
16,Leisure & Culture,5.992000,6.215000,7.673500,4.380000,7.187500,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,8.789500
17,Tolerance,7.051500,8.555500,8.584000,4.550500,7.848000,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,6.895500
18,Outdoors,3.484500,7.477000,4.535500,4.098500,2.665500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,7.077500

In [9]:
del total['Categories']

In [4]:
#del total['Categories']

total

mean_values = total.mean()

mean_values.to_csv('means.csv')

/Users/louise/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  import sys

In [10]:
total_trans2 = total.transpose()
total_trans2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Asuncion,8.0,8.0,8.0,8.0,9.2265,9.295,2.2070,0.6450,4.96875,3.684000,6.9345,4.891333,3.96900,4.1090,8.4235,1.4790,5.9920,7.0515,3.4845
Bogota,2.0,2.0,2.0,2.0,9.0275,9.080,5.7085,1.8890,4.96400,6.348667,6.2220,5.139000,4.34750,4.5945,1.8515,2.9760,6.2150,8.5555,7.4770
Buenos Aires,2.0,8.0,8.0,8.0,8.8120,7.764,4.6730,3.7700,4.92350,4.045333,6.0395,6.106667,4.86900,2.8840,1.5680,1.5275,7.6735,8.5840,4.5355
Caracas,8.0,8.0,8.0,8.0,4.9025,9.820,3.0535,1.3235,4.54425,1.000000,5.2210,4.241333,2.27250,1.9780,4.1800,1.6415,4.3800,4.5505,4.0985
Curitiba,2.0,2.0,2.0,2.0,9.4295,8.433,2.9120,0.8900,4.95025,2.781000,5.9465,5.579333,7.75725,2.1870,2.8525,3.1420,7.1875,7.8480,2.6655
Florianopolis,8.0,8.0,2.0,2.0,9.0595,8.331,1.0000,0.6830,4.78775,2.781000,6.5250,5.218667,4.94400,2.1870,2.8525,3.1850,5.3300,7.6375,5.7510
Medellin,8.0,8.0,2.0,2.0,9.2315,9.315,4.6180,0.9280,5.35450,6.348667,7.4770,5.452333,6.17075,4.5945,1.8515,4.1485,5.0290,9.3020,3.6620
Montevideo,2.0,2.0,8.0,8.0,8.1830,6.197,2.8630,1.1830,5.28800,7.944000,5.9735,6.364667,4.54500,4.4160,4.8285,2.1785,4.9465,9.7100,5.1785
Porto Alegre,8.0,8.0,8.0,2.0,9.2210,8.120,2.6705,0.9655,5.10500,2.781000,5.2955,5.499667,4.13975,2.1870,2.8525,2.1960,7.7035,7.4480,4.9225
Quito,2.0,2.0,2.0,2.0,9.0165,7.822,2.8575,0.8900,4.78925,3.021333,6.9690,5.324000,4.17625,3.8855,7.5140,3.4815,4.8015,8.8265,5.5000
Rio de Janeiro,8.0,8.0,2.0,2.0,8.3200,7.751,4.8230,1.4930,4.55325,4.036667,5.2955,4.996667,3.32275,2.1870,2.8455,2.3380,8.6675,5.7715,6.1520
Santiago,8.0,8.0,8.0,8.0,8.3815,7.237,6.2305,2.5355,5.55100,7.765000,6.9645,7.231667,4.52800,3.7250,8.9295,1.0000,7.5560,7.1715,5.5000
Sao Paulo,8.0,8.0,2.0,2.0,8.3160,7.823,6.6225,2.2655,4.41200,2.781000,5.2955,5.462333,2.65350,2.1870,2.8525,3.3895,8.7895,6.8955,7.0775

In [11]:
col_names = ['Avg max temp', 'Avg min temp', 'Hours of sun', 'Rain days per month', 'Housing', 'Cost of Living', 'Startups', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']

total_trans2.columns = [col_names]

In [12]:
total_trans2

,Avg max temp,Avg min temp,Hours of sun,Rain days per month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Asuncion,8.0,8.0,8.0,8.0,9.2265,9.295,2.2070,0.6450,4.96875,3.684000,6.9345,4.891333,3.96900,4.1090,8.4235,1.4790,5.9920,7.0515,3.4845
Bogota,2.0,2.0,2.0,2.0,9.0275,9.080,5.7085,1.8890,4.96400,6.348667,6.2220,5.139000,4.34750,4.5945,1.8515,2.9760,6.2150,8.5555,7.4770
Buenos Aires,2.0,8.0,8.0,8.0,8.8120,7.764,4.6730,3.7700,4.92350,4.045333,6.0395,6.106667,4.86900,2.8840,1.5680,1.5275,7.6735,8.5840,4.5355
Caracas,8.0,8.0,8.0,8.0,4.9025,9.820,3.0535,1.3235,4.54425,1.000000,5.2210,4.241333,2.27250,1.9780,4.1800,1.6415,4.3800,4.5505,4.0985
Curitiba,2.0,2.0,2.0,2.0,9.4295,8.433,2.9120,0.8900,4.95025,2.781000,5.9465,5.579333,7.75725,2.1870,2.8525,3.1420,7.1875,7.8480,2.6655
Florianopolis,8.0,8.0,2.0,2.0,9.0595,8.331,1.0000,0.6830,4.78775,2.781000,6.5250,5.218667,4.94400,2.1870,2.8525,3.1850,5.3300,7.6375,5.7510
Medellin,8.0,8.0,2.0,2.0,9.2315,9.315,4.6180,0.9280,5.35450,6.348667,7.4770,5.452333,6.17075,4.5945,1.8515,4.1485,5.0290,9.3020,3.6620
Montevideo,2.0,2.0,8.0,8.0,8.1830,6.197,2.8630,1.1830,5.28800,7.944000,5.9735,6.364667,4.54500,4.4160,4.8285,2.1785,4.9465,9.7100,5.1785
Porto Alegre,8.0,8.0,8.0,2.0,9.2210,8.120,2.6705,0.9655,5.10500,2.781000,5.2955,5.499667,4.13975,2.1870,2.8525,2.1960,7.7035,7.4480,4.9225
Quito,2.0,2.0,2.0,2.0,9.0165,7.822,2.8575,0.8900,4.78925,3.021333,6.9690,5.324000,4.17625,3.8855,7.5140,3.4815,4.8015,8.8265,5.5000
Rio de Janeiro,8.0,8.0,2.0,2.0,8.3200,7.751,4.8230,1.4930,4.55325,4.036667,5.2955,4.996667,3.32275,2.1870,2.8455,2.3380,8.6675,5.7715,6.1520
Santiago,8.0,8.0,8.0,8.0,8.3815,7.237,6.2305,2.5355,5.55100,7.765000,6.9645,7.231667,4.52800,3.7250,8.9295,1.0000,7.5560,7.1715,5.5000
Sao Paulo,8.0,8.0,2.0,2.0,8.3160,7.823,6.6225,2.2655,4.41200,2.781000,5.2955,5.462333,2.65350,2.1870,2.8525,3.3895,8.7895,6.8955,7.0775

In [16]:
total_trans2.to_csv('transformed.csv')

In [15]:
total_trans2.dtypes

Avg max temp             float64
Avg min temp             float64
Hours of sun             float64
Rain days per month      float64
Housing                  float64
Cost of Living           float64
Startups                 float64
Travel Connectivity      float64
Commute                  float64
Business Freedom         float64
Safety                   float64
Healthcare               float64
Environmental Quality    float64
Economy                  float64
Taxation                 float64
Internet Access          float64
Leisure & Culture        float64
Tolerance                float64
Outdoors                 float64
dtype: object

In [149]:
corr = total_trans.corr()

corr.to_csv('correlations.csv')

corr

,Avg max temp,Avg min temp,Hours of sun,Rain days per month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Avg max temp,1.000000,0.843274,0.097590,-0.025000,-0.242465,0.311229,0.029872,-0.206534,-0.111865,-0.218360,-0.069019,-0.224747,-0.407949,-0.331960,0.123821,-0.127671,0.171056,-0.612768,0.003520
Avg min temp,0.843274,1.000000,0.282889,0.184466,-0.216553,0.245599,0.113955,0.217515,-0.125382,-0.247037,-0.101519,-0.094845,-0.377142,-0.395333,-0.041712,-0.315190,0.315539,-0.531421,-0.063637
Hours of sun,0.097590,0.282889,1.000000,0.853913,-0.351079,-0.155054,-0.140688,0.255358,0.364114,0.125591,-0.119505,0.289006,-0.261888,0.048171,0.385158,-0.857951,-0.067592,-0.150777,-0.315818
Rain days per month,-0.025000,0.184466,0.853913,1.000000,-0.454184,-0.140436,-0.028614,0.358211,0.290335,0.241078,0.065246,0.296349,-0.233626,0.200012,0.475428,-0.823896,-0.200784,-0.132067,-0.305365
Housing,-0.242465,-0.216553,-0.351079,-0.454184,1.000000,-0.215507,-0.042732,-0.107926,0.364815,0.286321,0.463203,0.335457,0.618724,0.318143,-0.058739,0.367879,0.276292,0.658569,0.001213
Cost of Living,0.311229,0.245599,-0.155054,-0.140436,-0.215507,1.000000,-0.144115,-0.293764,-0.257045,-0.460819,0.108562,-0.741383,-0.031414,-0.055941,-0.174264,0.169189,-0.310312,-0.379343,-0.306361
Startups,0.029872,0.113955,-0.140688,-0.028614,-0.042732,-0.144115,1.000000,0.688402,0.039487,0.404483,-0.080907,0.355635,-0.202951,0.160668,-0.119746,-0.020994,0.554592,-0.034268,0.489023
Travel Connectivity,-0.206534,0.217515,0.255358,0.358211,-0.107926,-0.293764,0.688402,1.000000,0.006300,0.220962,-0.176168,0.470945,-0.174546,-0.049753,-0.174686,-0.397707,0.508996,0.009850,0.311291
Commute,-0.111865,-0.125382,0.364114,0.290335,0.364815,-0.257045,0.039487,0.006300,1.000000,0.770667,0.603817,0.706514,0.525829,0.627506,0.289429,-0.187739,-0.182903,0.569871,-0.282639
Business Freedom,-0.218360,-0.247037,0.125591,0.241078,0.286321,-0.460819,0.404483,0.220962,0.770667,1.000000,0.464193,0.699482,0.255934,0.761679,0.172676,-0.098435,-0.039703,0.584622,0.199528
Safety,-0.069019,-0.101519,-0.119505,0.065246,0.463203,0.108562,-0.080907,-0.176168,0.603817,0.464193,1.000000,0.293561,0.461497,0.720693,0.428532,0.198878,-0.443015,0.547465,-0.239783
Healthcare,-0.224747,-0.094845,0.289006,0.296349,0.335457,-0.741383,0.355635,0.470945,0.706514,0.699482,0.293561,1.000000,0.339823,0.297382,0.262924,-0.270973,0.283949,0.486634,0.066321
Environmental Quality,-0.407949,-0.377142,-0.261888,-0.233626,0.618724,-0.031414,-0.202951,-0.174546,0.525829,0.255934,0.461497,0.339823,1.000000,0.206531,-0.187574,0.340106,-0.076643,0.586645,-0.527340
Economy,-0.331960,-0.395333,0.048171,0.200012,0.318143,-0.055941,0.160668,-0.049753,0.627506,0.761679,0.720693,0.297382,0.206531,1.000000,0.319297,0.092265,-0.431844,0.671344,0.040854
Taxation,0.123821,-0.041712,0.385158,0.475428,-0.058739,-0.174264,-0.119746,-0.174686,0.289429,0.172676,0.428532,0.262924,-0.187574,0.319297,1.000000,-0.450667,-0.206643,-0.101056,-0.133764
Internet Access,-0.127671,-0.315190,-0.857951,-0.823896,0.367879,0.169189,-0.020994,-0.397707,-0.187739,-0.098435,0.198878,-0.270973,0.340106,0.092265,-0.450667,1.000000,-0.181432,0.403346,0.133360
Leisure & Culture,0.171056,0.315539,-0.067592,-0.200784,0.276292,-0.310312,0.554592,0.508996,-0.182903,-0.039703,-0.443015,0.283949,-0.076643,-0.431844,-0.206643,-0.181432,1.000000,-0.241404,0.292889
Tolerance,-0.612768,-0.531421,-0.150777,-0.132067,0.658569,-0.379343,-0.034268,0.009850,0.569871,0.584622,0.547465,0.486634,0.586645,0.671344,-0.101056,0.403346,-0.241404,1.000000,-0.006834
Outdoors,0.003520,-0.063637,-0.315818,-0.305365,0.001213,-0.306361,0.489023,0.311291,-0.282639,0.199528,-0.239783,0.066321,-0.527340,0.040854,-0.133764,0.133360,0.292889,-0.006834,1.000000

In [153]:
sums = total_trans.sum()

In [154]:
sums

Avg max temp              74.000000
Avg min temp              80.000000
Hours of sun              62.000000
Rain days per month       56.000000
Housing                  111.127000
Cost of Living           106.988000
Startups                  50.239000
Travel Connectivity       19.461000
Commute                   64.191500
Business Freedom          55.317667
Safety                    80.159000
Healthcare                71.507667
Environmental Quality     57.695250
Economy                   41.121500
Taxation                  53.402000
Internet Access           32.683000
Leisure & Culture         84.271500
Tolerance                 99.352000
Outdoors                  66.004500
dtype: float64

In [144]:
sum_cities = pd.read_csv('sum_cities.csv')

In [145]:
sum_cities

,Categories,avg_max_tempavg_min_temphours_of_sunrain_days_per_monthHousingCost of LivingStartupsTravel ConnectivityCommuteBusiness FreedomSafetyHealthcareEnvironmental QualityEconomyTaxationInternet AccessLeisure & CultureToleranceOutdoors
0,Asuncion,108.360583
1,Bogota,92.395667
2,Buenos Aires,103.775500
3,Caracas,89.207083
4,Curitiba,82.561333
5,Florianopolis,90.272917
6,Medellin,103.483250
7,Montevideo,99.799167
8,Porto Alegre,97.107417
9,Quito,86.874833
10,Rio de Janeiro,92.553333
11,Santiago,122.306667
12,Sao Paulo,96.822833