In [17]:
import pandas as pd
import numpy as np

In [18]:
transposed = pd.read_csv('transformed.csv')
cities = pd.read_csv('sum_cities_latlon.csv')
total = pd.read_csv('total.csv')

In [19]:
transposed

,Unnamed: 0,Avg max temp,Avg min temp,Hours of sun,Rain days per month,Housing,Cost of Living,Startups,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,Asuncion,8.0,8.0,8.0,8.0,9.2265,9.295,2.2070,0.6450,4.96875,3.684000,6.9345,4.891333,3.96900,4.1090,8.4235,1.4790,5.9920,7.0515,3.4845
1,Bogota,2.0,2.0,2.0,2.0,9.0275,9.080,5.7085,1.8890,4.96400,6.348667,6.2220,5.139000,4.34750,4.5945,1.8515,2.9760,6.2150,8.5555,7.4770
2,Buenos Aires,2.0,8.0,8.0,8.0,8.8120,7.764,4.6730,3.7700,4.92350,4.045333,6.0395,6.106667,4.86900,2.8840,1.5680,1.5275,7.6735,8.5840,4.5355
3,Caracas,8.0,8.0,8.0,8.0,4.9025,9.820,3.0535,1.3235,4.54425,1.000000,5.2210,4.241333,2.27250,1.9780,4.1800,1.6415,4.3800,4.5505,4.0985
4,Curitiba,2.0,2.0,2.0,2.0,9.4295,8.433,2.9120,0.8900,4.95025,2.781000,5.9465,5.579333,7.75725,2.1870,2.8525,3.1420,7.1875,7.8480,2.6655
5,Florianopolis,8.0,8.0,2.0,2.0,9.0595,8.331,1.0000,0.6830,4.78775,2.781000,6.5250,5.218667,4.94400,2.1870,2.8525,3.1850,5.3300,7.6375,5.7510
6,Medellin,8.0,8.0,2.0,2.0,9.2315,9.315,4.6180,0.9280,5.35450,6.348667,7.4770,5.452333,6.17075,4.5945,1.8515,4.1485,5.0290,9.3020,3.6620
7,Montevideo,2.0,2.0,8.0,8.0,8.1830,6.197,2.8630,1.1830,5.28800,7.944000,5.9735,6.364667,4.54500,4.4160,4.8285,2.1785,4.9465,9.7100,5.1785
8,Porto Alegre,8.0,8.0,8.0,2.0,9.2210,8.120,2.6705,0.9655,5.10500,2.781000,5.2955,5.499667,4.13975,2.1870,2.8525,2.1960,7.7035,7.4480,4.9225
9,Quito,2.0,2.0,2.0,2.0,9.0165,7.822,2.8575,0.8900,4.78925,3.021333,6.9690,5.324000,4.17625,3.8855,7.5140,3.4815,4.8015,8.8265,5.5000
10,Rio de Janeiro,8.0,8.0,2.0,2.0,8.3200,7.751,4.8230,1.4930,4.55325,4.036667,5.2955,4.996667,3.32275,2.1870,2.8455,2.3380,8.6675,5.7715,6.1520
11,Santiago,8.0,8.0,8.0,8.0,8.3815,7.237,6.2305,2.5355,5.55100,7.765000,6.9645,7.231667,4.52800,3.7250,8.9295,1.0000,7.5560,7.1715,5.5000
12,Sao Paulo,8.0,8.0,2.0,2.0,8.3160,7.823,6.6225,2.2655,4.41200,2.781000,5.2955,5.462333,2.65350,2.1870,2.8525,3.3895,8.7895,6.8955,7.0775

In [20]:
cities

              name         pop        lat        lon  mean
0         Curitiba   82.561333 -25.480877 -49.304424  5.70
1            Quito   86.874833  -0.180653 -78.467834  4.86
2          Caracas   89.207083  10.480594 -66.903603  5.46
3    Florianopolis   90.272917 -27.594870 -48.548222  4.70
4           Bogota   92.395667   4.710989 -74.072090  4.35
5   Rio de Janeiro   92.553333 -22.906847 -43.172897  4.75
6        Sao Paulo   96.822833 -23.550520 -46.633308  5.45
7     Porto Alegre   97.107417 -30.034647 -51.217659  5.25
8       Montevideo   99.799167 -34.901112 -56.164532  5.11
9         Medellin  103.483250   6.244203 -75.581215  4.57
10    Buenos Aires  103.775500 -34.603683 -58.381557  4.87
11        Asuncion  108.360583 -25.263741 -57.575928  6.44
12        Santiago  122.306667 -33.448891 -70.669266  5.10

In [21]:
total

,Unnamed: 0,Categories,Asuncion,Bogota,Buenos Aires,Caracas,Curitiba,Florianopolis,Medellin,Montevideo,Porto Alegre,Quito,Rio de Janeiro,Santiago,Sao Paulo
0,0,avg_max_temp,8.000000,2.000000,2.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
1,1,avg_min_temp,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,8.000000,2.000000,8.000000,2.000000,8.000000,8.000000,8.000000
2,2,hours_of_sun,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,8.000000,2.000000,2.000000,8.000000,2.000000
3,3,rain_days_per_month,8.000000,2.000000,8.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000,2.000000,2.000000,8.000000,2.000000
4,0,Housing,9.226500,9.027500,8.812000,4.902500,9.429500,9.059500,9.231500,8.183000,9.221000,9.016500,8.320000,8.381500,8.316000
5,1,Cost of Living,9.295000,9.080000,7.764000,9.820000,8.433000,8.331000,9.315000,6.197000,8.120000,7.822000,7.751000,7.237000,7.823000
6,2,Startups,2.207000,5.708500,4.673000,3.053500,2.912000,1.000000,4.618000,2.863000,2.670500,2.857500,4.823000,6.230500,6.622500
7,3,Travel Connectivity,0.645000,1.889000,3.770000,1.323500,0.890000,0.683000,0.928000,1.183000,0.965500,0.890000,1.493000,2.535500,2.265500
8,4,Commute,4.968750,4.964000,4.923500,4.544250,4.950250,4.787750,5.354500,5.288000,5.105000,4.789250,4.553250,5.551000,4.412000
9,5,Business Freedom,3.684000,6.348667,4.045333,1.000000,2.781000,2.781000,6.348667,7.944000,2.781000,3.021333,4.036667,7.765000,2.781000
10,6,Safety,6.934500,6.222000,6.039500,5.221000,5.946500,6.525000,7.477000,5.973500,5.295500,6.969000,5.295500,6.964500,5.295500
11,7,Healthcare,4.891333,5.139000,6.106667,4.241333,5.579333,5.218667,5.452333,6.364667,5.499667,5.324000,4.996667,7.231667,5.462333
12,8,Environmental Quality,3.969000,4.347500,4.869000,2.272500,7.757250,4.944000,6.170750,4.545000,4.139750,4.176250,3.322750,4.528000,2.653500
13,9,Economy,4.109000,4.594500,2.884000,1.978000,2.187000,2.187000,4.594500,4.416000,2.187000,3.885500,2.187000,3.725000,2.187000
14,10,Taxation,8.423500,1.851500,1.568000,4.180000,2.852500,2.852500,1.851500,4.828500,2.852500,7.514000,2.845500,8.929500,2.852500
15,11,Internet Access,1.479000,2.976000,1.527500,1.641500,3.142000,3.185000,4.148500,2.178500,2.196000,3.481500,2.338000,1.000000,3.389500
16,12,Leisure & Culture,5.992000,6.215000,7.673500,4.380000,7.187500,5.330000,5.029000,4.946500,7.703500,4.801500,8.667500,7.556000,8.789500
17,13,Tolerance,7.051500,8.555500,8.584000,4.550500,7.848000,7.637500,9.302000,9.710000,7.448000,8.826500,5.771500,7.171500,6.895500
18,14,Outdoors,3.484500,7.477000,4.535500,4.098500,2.665500,5.751000,3.662000,5.178500,4.922500,5.500000,6.152000,5.500000,7.077500

In [24]:
np.average(total["Caracas"], weights=weights["Weights"])

4.695109649122807

In [ ]:
#genaral question to please rate 0, 3, 6, 9

In [77]:
a = int(input('Average maximum temperature'))
b = int(input('Average minimum temperature'))
c = int(input('Hours of sun'))
d = int(input('The numer of rain days'))
e = int(input('Housing'))
f = int(input('Cost of living'))
g = int(input('Startups')) 
h = int(input('Travel connectivity')) #check what is it
i = int(input('Commute to work'))
j = int(input('Business freedom'))
k = int(input('Safety'))
l = int(input('Healthcare'))
m = int(input('Environmental Quality')) #check what is it
n = int(input('Economy'))
o = int(input('Taxation'))
p = int(input('Internet access'))
q = int(input('Leisure & culture'))
r = int(input('Tolerance'))
s = int(input('Outdoors'))

Average maximum temperature9
Average minimum temperature9
Hours of sun9
The numer of rain days9
Housing9
Cost of living9
Startups3
Travel connectivity3
Commute to work3
Business freedom3
Safety9
Healthcare9
Environmental Quality3
Economy9
Taxation0
Internet access9
Leisure & culture9
Tolerance0
Outdoors6

In [78]:
categories = ['avg_max_temp', 'avg_min_temp', 'hours_of_sun', 'rain_days_per_month', 'Housing', 'Cost of Living', 'Startups', 'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Environmental Quality', 'Economy', 'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance', 'Outdoors']

In [79]:
inputs = [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s]

In [80]:
dic = {'Categories': categories, 'Weights': inputs}

In [81]:

weights_df = pd.DataFrame.from_dict(dic, orient='index')

weights_df
weights = weights_df.transpose()
weights

               Categories Weights
0            avg_max_temp       9
1            avg_min_temp       9
2            hours_of_sun       9
3     rain_days_per_month       9
4                 Housing       9
5          Cost of Living       9
6                Startups       3
7     Travel Connectivity       3
8                 Commute       3
9        Business Freedom       3
10                 Safety       9
11             Healthcare       9
12  Environmental Quality       3
13                Economy       9
14               Taxation       0
15        Internet Access       9
16      Leisure & Culture       9
17              Tolerance       0
18               Outdoors       6

In [70]:
np.average(total["Caracas"], weights=weights.Weights)

5.3917469135802465

In [82]:
np.average(total["Caracas"], weights=weights.Weights)

5.323593750000001